{% block main %}
{% load static %}
<div class="container-xl my-4 bg-light">
    <div class="row">
        <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <h3 class="my-3">
                {{ puples.name }} {{puples.surname}}
            </h3>
            <img src="{{ puples.image.url }}" class="img-fluid">
            <div class="row py-3">
<!--                <div class="col-12 text-left"><a class="text-dark disabled" href="#">редактировать фотографию</a></div>-->
                <div class="col-12"><a href="/statistic/pupil/{{ puples.pk }}/img-change/" class="btn btn-block btn-info btn-sm" role="button">Изменить фотографию профиля</a></div>
                <div class="col pt-1"><a href="/password-change/" class="btn btn-block btn-info btn-sm" role="button">Изменить пароль учетной записи</a></div>
            </div>
        </div>
        <div class="col">
            <h3 class="pt-3">
                Список посещенных мероприятий
            </h3>
            <table class="table table-sm text-center my-4">
                <thead class="thead text-center">
                <tr>
                    <th class="text-left">Дата посещения</th>
                    <th class="text-left">Название</th>
                    <th class="d-none d-sm-block">Организатор</th>
                    <th>Баллы</th>
                    <th>Документ</th>
                </tr>
                </thead>
                {% for event in allevents %}
                <tr {% if event.check is False %} class="alert-warning"{% endif %}>
                    <td class="align-middle">{{ event.date }} {% if event.check is False %}<p class="alert-warning">На модерации</p>{% endif %}</td>
                    <td class="text-left align-middle">{{ event.name }}</td>
                    <td class="text-left align-middle text-center d-none d-sm-block">{{ event.organization }}</td>
                    <td class="text-left align-middle text-center">{{ event.event_rate }}</td>
                    <td class="text-center align-middle">
                        <form method="post" action="{% url 'verification_file_download' %}">
                            {% csrf_token %}
                            <input type="hidden" name="file_base_dir" value="{{ event.verification_file }}">
                            <input type="hidden" name="usr_pk" value="{{ puples.user.pk }}">
                            <button type="submit" class="btn btn-outline-success">Скачать</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}
            </table>
            <a class="btn btn-success btn-lg btn-block" href="add_events" role="button">Добавить новое мероприятие</a>
            <p class="my-3">Количество посещенных мероприятий: {{ events_count }} </p>
            <p class="my-3">Общий рейтинг(автоматический): {{ rate_event }}</p>
        </div>
    </div>
    {% endblock %}
