{% extends  'base.html' %}
{% load static %}
{% block main %}
    <div class="container h-100">
        <h2 class="text-left font-weight-light pt-3">ХАКАТОН 1-11 МАЯ 2020</h2>
        <hr>
        <h5 class="font-weight-light">ТЕМА ХАКАТОНА: «ДИСТАНЦИОННОЕ ОБУЧЕНИЕ»</h5>
        <br>
        <p class="font-weight-light">Для альтернативной защиты темы по программированию «Функции» в период с 1 по 11 мая
            вы можете создать любой общедоступный продукт (web-приложение, web-сайт, desktop application(для доступных
            платформ), игра, web-игра, мобильное приложение и.т.д.) соответствующий тематике хакатона.</p>

        <p class="font-weight-light">КРИТЕРИИ ОЦЕНИВАНИЯ:
        <ol class="font-weight-light">
            <li>Продукт должен быть общедоступным для любого участника образовательного процесса</li>
            <li> Продукт должен решать, какую-либо проблему связанную с дистанционной формой образования</li>
            <li>Продукт должен быть полезен для целевой аудитории</li>
            <li>Продукт должен содержать интуитивно-понятный интерфейс или инструкцию по применению.</li>
            <li>Продукт должен быть продуктом Opensource (иметь возможность изменять функционал сторонними
                разработчиками)
            </li>
            <li> Код продукта должен быть доступен на открытых платформах github или др.</li>
        </ol>
        </p>
        <p class="font-weight-light">ТЕХНИЧЕСКАЯ СТОРОНА ОЦЕНИВАНИЯ:
        <ol class="font-weight-light">
            <li>В коде продукта должно использоваться не менее 5 функций написанные самостоятельно.</li>
            <li>Функции должны иметь возможность принимать любое количество позиционных аргументов</li>
            <li>Название функций должны соответствовать функциональности.</li>
            <li>Минимум 1 функция должна иметь возможность принимать любое количество собственных именованных
                аргументов
            </li>
            <li>Минимум в 1 функции должны быть использованы значения по умолчанию</li>
            <li>Минимум 1 функция должна использовать значение возвращаемое другой самостоятельной функцией</li>
            <li>Не одна функция не должна менять значения глобальных переменных</li>
        </ol>
        </p>

        <p class="font-weight-light">ПРАВИЛА УЧАСТИЯ:</p>
        <ol class="font-weight-light">
            <li>В срок до 2 мая (включительно) до 23.59 заполнить форму с регистрацией команды (не более 3 человек) и
                продукта нажав на
                кнопку "ЗАРЕГИСТРИРОВАТЬ КОМАНДУ"
            </li>
            <li>4 мая в течении дня, минимум один человек из команды (возможно команда целиком) пройти первый этап
                защиты
                идеи продукта.
            </li>
            <li>10 мая в течении дня пройти второй этап защиты готового продукта.</li>
            <li>В период с 11-15 мая представить, в назначенное команде время, продукт перед аудиторией (дистанционно),
                предоставить возможность использования продукта.
            </li>
        </ol>
        </p>
        <img class="img-fluid mx-3" src="{% static '/images/hacaton.png' %}">
        <a href="https://forms.gle/89hYELnRQn8sFjkJ9">
            <button class="btn btn-info text-center">ЗАРЕГИСТРИРОВАТЬ КОМАНДУ</button>
        </a>
    </div>
{% endblock %}
